@import "tailwindcss";

@font-face {
  font-family: "oswald light";
  src: url(./assets/fonts/Oswald-Light.ttf) format("truetype");
}

@font-face {
  font-family: "oswald regular";
  src: url(./assets/fonts/Oswald-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "oswald medium";
  src: url(./assets/fonts/Oswald-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "oswald semibold";
  src: url(./assets/fonts/Oswald-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "oswald bold";
  src: url(./assets/fonts/Oswald-Bold.ttf) format("truetype");
}

@theme {
  --font-oswald-light: "oswald light";
  --font-oswald-regular: "oswald regular";
  --font-oswald-medium: "oswald medium";
  --font-oswald-semibold: "oswald semibold";
  --font-oswald-bold: "oswald bold";

  --color-primary-100: #f5f5f5;
  --color-primary-200: rgb(229, 229, 229);
  --color-primary-300: #999;
  --color-primary-400: #555;

  --color-primary-500: #333;

  --color-yellow-400: #FFC000;
}

@layer utilities {
  .container {
    @apply max-w-[1260px] mx-auto;
  }
  .container-content {
    @apply max-w-[1200px] px-4 mx-auto;
  }
}

@layer base {
  body {
    @apply bg-primary-100;
    color: var(--color-primary-500);
  }
}

.custom-pagination {
  @apply text-center mt-5;
}

.custom-pagination .swiper-pagination-bullet {
  @apply size-4 opacity-70 rounded-none;
}

.custom-pagination .swiper-pagination-bullet-active {
  @apply bg-yellow-400 opacity-100;
}